<!-- <mat-dialog-content>
  <p>What's your favorite animal?</p>
  <mat-form-field>
    <mat-label>Favorite Animal</mat-label>
    <input matInput [(ngModel)]="data.animal">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</mat-dialog-actions> -->
<!-- <div style="padding: 20px;display: flex;">

    <mat-form-field>
        <mat-label>Input</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Select</mat-label>
        <mat-select>
            <mat-option value="one">First option</mat-option>
            <mat-option value="two">Second option</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Textarea</mat-label>
        <textarea matInput></textarea>
    </mat-form-field>
</div> -->
<!-- </mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
  </mat-dialog-actions> -->


  <form [formGroup]="myForm" class="formResponsiv">
  
        <!-- <mat-form-field>
          <input matInput formControlName="id" placeholder="ID">
          <mat-error>
            {{ myForm.get('id')!.hasError('required') ? 'ID is required' : '' }}
          </mat-error>
        </mat-form-field> -->
      
        <mat-form-field>
          <input matInput formControlName="name" placeholder="Name">
          <mat-error>
            {{ myForm.get('name')!.hasError('required') ? 'Name is required' : '' }}
          </mat-error>
        </mat-form-field>
      
        <mat-form-field>
          <input matInput formControlName="email" placeholder="Email">
          <mat-error>
            {{ myForm.get('email')!.hasError('required') ? 'Email is required' : '' }}
          </mat-error>
          <mat-error>
            {{ myForm.get('email')!.hasError('email') ? 'Invalid email format' : '' }}
          </mat-error>
        </mat-form-field>
      
        <mat-form-field>
          <input matInput formControlName="number" placeholder="Number">
          <mat-error>
            {{ myForm.get('number')!.hasError('required') ? 'Number is required' : '' }}
          </mat-error>
        </mat-form-field>
      
      
      
    <button type="submit"  mat-flat-button color="primary" (click)="onSubmit()">Submit</button>
    <button type="button" style="margin:10px;"  mat-flat-button color="warn" (click)="onNoClick()">Close</button>
  </form>
  