<mat-table mat-sort [dataSource]="dataSource">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
    <mat-cell *matCellDef="let user"> {{ user.id }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let user"> {{ user.name }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="username">
    <mat-header-cell *matHeaderCellDef> User Name </mat-header-cell>
    <mat-cell *matCellDef="let user"> {{ user.username }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
    <mat-cell *matCellDef="let user"> {{ user.email }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="viewAddress">
    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
    <mat-cell class="successBgColor" *matCellDef="let user" (click)="viewAddress(user)">
      <button mat-icon-button>
        <mat-icon>home</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="edit">
    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
    <mat-cell class="successBgColor" *matCellDef="let user" (click)="editUser(user)">
      <button mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>